<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369548/e%20-%20infrarojo/carlospizarro.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">El Comandante Papito</h2>
          <h5 class="card-subtitle text-muted">Carlos Pizarro Leongomez, Bogota 1990</h5>
          <p> He was the top commander of Movement 19 of April, M-19 between 1986-1990.
Laid down the arms, signed Peace with the Government, returned to the civil life but was assassinated on April 26 of 1990, under the orders of the United self-defense of Colombia or Paramilitary groups when he was running the Presidential  Campaign by the Democratic Alliance M-19, political movement that emerged after the demobilization of this Rebel Group.
The same day that he was assassinated this photography was tear off from the National Salon of  Artists, where I was exhibiting a reportage of one of the most dangerous political campaigns in Colombia. Four candidates were assassinated. I was the personal photographer for the Liberal candidate Cesar Gaviria.  Wearing bullet-proof vests we crossed over our country. Several times we had to flee from sites by threats to our candidate.</p>
        </div>
  </div>
</div>
