<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369547/e%20-%20infrarojo/cartamagna.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Carta Magna" | The Great Letter.</h2>
        <h5 class="card-subtitle text-muted">National Capitol, Bogotá, 1991</h5>
        <h7 class="card-subtitle text-muted">Alvaro Gómez, Horacio Serpa, César Gaviria and Antonio Navarro.
</h7>

        <p> The new Constitution of Colombia was signed in 1991, replaced the Constitution of 1886 and was proclaimed during Gaviria's Presidency.
This image was selected to be part of a book call "100 Years in Photography" that "El Colombiano" Newspaper released to commemorate 100 years anniversary.</p>
      </div>
  </div>
</div>
