<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360505/paramilitar/Paramilitar_Co%CC%81rdoba95_-_Version_2.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Cabezas Rojas" | Red Heads </h2>
        <h5 class="card-subtitle text-muted">Córdoba, 1996</h5>
        <p> Germán Castro Caycedo was the first journalist that  Carlos Castaño, Head of the Paramilitars groups accepted to talk. I went along with him, in a secret trip among the mountains of Cordova, to interview him, get to know his group and his position with respect of the Peace talks. He made sure to let me know that taking his photo wasn't an option!</p>
      </div>
  </div>
</div>
