<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369548/e%20-%20infrarojo/dejaciondearmas.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Dejación de Armas" | Laid Down of Arms </h2>
        <h5 class="card-subtitle text-muted">Antonio Navarro Wolf, 1990</h5>
        <h7 class="card-subtitle text-muted">High Seas, Atlantic Coast. </h7>

        <p> Laying Down the Armas by the M-19 was make in front the International Socialist Secretary, Luis Ayala. Gabriel Garcia Márquez helped in the process and made management before the government of Mexico to save Navarro's life in the middle of the Eighties.</p>
      </div>
  </div>
</div>
