<div class="container-fluid">
  <%= link_to '<< Back to Infrarojo', '/infrarojo' %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353000/women%20around%20the%20world/desalojos.jpg", :alt => "patrullando", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Desalojos en Guayaquil" | Eviction from Guayaquil </h2>
        <h5 class="card-subtitle text-muted">La Alpujarra, Medellín 1985</h5>
        <p> In the meantime the city was expanding and the Government moved its offices to La Alpujarra zone, forcing  street sellers to tear down their tents that were for many years the source of their income for their families. With the promise to give them a new space they were relocated in downtown, becoming  part of the many small survival business that mixed with the new narco traffic culture, changed for ever the image of what it was  Medellín.</p>
      </div>
  </div>
</div>
