<div class="container-fluid">
  <%= link_to '<< Back to Infrarojo', '/infrarojo' %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477353324/women%20around%20the%20world/despedida.jpg", :alt => "peace process", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">"Dios te Bendiga" | God Bless You</h2>
          <h5 class="card-subtitle text-muted">Olaya Herrera Airport, Medellín 1979 </h5>
          <h7 class="card-subtitle text-muted">Digital Archive from B/W Negative </h7>


          <p> The political conflict of beginnings of Century XX, continued still alive, when at the end of the Seventies families dismissed their children pride to see them serving to the motherland.</p>
        </div>
  </div>
</div>
