<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369546/e%20-%20infrarojo/elcartucho.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"El Cartucho" | The Cartridge.</h2>
        <h5 class="card-subtitle text-muted">Bogotá, 1992</h5>
        <p> Five blocks down the Nariño Palace, where the Gaviria government was immerse in the fight against Pablo Escobar, an abandon community of very poor people contaminated with drugs and crime were fighting to belong to a society that ignored them for so long.
I went down to visit the area several times with the support of two of the President's bodyguards and created a body of work that was later exhibited with the intention to create awareness.</p>
      </div>
  </div>
</div>
