<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369787/e%20-%20old%20and%20homeless/Pressdemocratluchi2.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">Focus on the Forgotten</h2>
          <h6 class="card-subtitle text-muted"></h6>
        </div>
  </div>
</div>
