<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369615/e%20-%20latino%20photo%20proj/girls2_final.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">Girls</h2>
          <h6 class="card-subtitle text-muted">Carlos Pizarro Leongomez, Bogota 1990</h6>
        </div>
  </div>
</div>
