<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477354201/children%20around%20the%20world/Leticia_Bogota%CC%81_93clean_2.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">Leticia Bogota</h2>
          <h6 class="card-subtitle text-muted"></h6>
        </div>
  </div>
</div>
