<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477360511/paramilitar/paras2.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Cabezas Rojas" | Red Heads. </h2>
        <h5 class="card-subtitle text-muted">Córdoba, 1996</h5>
        <p> The Read Heads were trained to assemble their arms in the dark. Their mission was to kill without concerning about their own lives. They didn't have any other reason to exist, no family, no attachments, no other motive to be outside this conflict.</p>
      </div>
  </div>
</div>
