<div class="container-fluid">
  <%= link_to '<< Back to Infrarojo', '/infrarojo' %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369545/e%20-%20infrarojo/patrullando.jpg", :alt => "patrullando", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Patrullando" | Patrolling</h2>
        <h5 class="card-subtitle text-muted">Atanasio Girardot Stadium, Medellín 1980</h5>
        <p> The Eighties, a decade full of contradictions. The social and economic crossroads brought the easy money, the outrageous ambition of the drug traffic that arrived until the military spheres. I took this photo while working as a photographer for El Mundo Newspaper.</p>
      </div>
  </div>
</div>
