<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess3.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Díalogos de Paz" | Peace Talks </h2>
        <h5 class="card-subtitle text-muted">Betancur Government, Medellín, 1984</h5>
        <p> Belisario Betancur made a call to the dialogue to the rebels organizations of Colombia and subscribed agreements with the Guerrillas. The EPL, Liberation Popular Army signed a peace document on August 23 of 1984, that served them to expand toward new regions, and created new military fronts. Soon his political spokesman was assassinated, Oscar William Calvo, in the  streets of Bogotá, 1985. Then was also assassinated his brother Jairo Calvo, commander of the EPL. The brothers Calvo appear in this photo, it was part of a group of six  postcards that illustrated six landmarks of Peace in Century XX. It was part of the exhibition "Tiempos de Paz", Times of Peace, Agreements in Colombia, 1902-1994 organized by the National Museum in Colombia in 2003. I donated it to this Museum with another four of the same moment, in order to contribute to the knowledge of these processes in our country.</p>
      </div>
  </div>
</div>
