<div class="container-fluid">
  <%= link_to '<< Back to Peace Process', '/peace' %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_775,w_auto/v1477360567/peace/peaceprocess4.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
        <div class="card">
          <h2 class="card-title">Peace Process</h2>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
  </div>
</div>
