<div class="container-fluid">
  <%= link_to '<< Back to Infrarojo', '/infrarojo' %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369549/e%20-%20infrarojo/sinhorizonte.jpg", :alt => "patrullando", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Sin Horizonte" | Without Horizon</h2>
        <h5 class="card-subtitle text-muted">Northeastern Communes, Medellín 1982</h5>
        <p> It was incredible the horrors that we lived on behalf of the coldness with which Pablo Escobar intimidated a so full city of life as Medellín. A million pesos by each dead police he paid, creating a war between young boys coming from this commune, without any horizon, and the police that patrolled in motorcycle the city.
Dead bodies from both sides appeared everyday, leaving without hope Mothers and Widows. I was send to cover this deaths when I saw this image that without blood reported the history.</p>
      </div>
  </div>
</div>
