<div class="container-fluid">
  <%= link_to '<< Back', :back %>
  <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369545/e%20-%20infrarojo/sinpalabras.jpg", :class => "show-img img-responsive") %>
    <div class="panel after">
      <div class="card">
        <h2 class="card-title">"Sin Palabras" | Without Words </h2>
        <h5 class="card-subtitle text-muted">National Capitol, Bogotá 1990</h5>
        <p> To cross the border of the privacy of moments so difficult, and to be witness of the history of these hard years of Colombia, has been essential part of my human formation and my strength behind the camera.</p>
      </div>
  </div>
</div>
