.card img{
  height:auto;
  max-width: 235px;
  float: left;
  padding: 15px;
}

p.card-text {
  padding:5px;
  margin: 20px;
}

.col-xs-12 {
  text-align: center;
  margin: 5px;
}

.row {
  display: inline;
}
