/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */

 #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }
 #wrapper.toggled {
     padding-left: 200px;
 }
 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 200px;
     width: 0;
     height: 100%;
     margin-left: -200px;
     overflow-y: auto;
     overflow-x: auto;
     background-image: url(tex.png);
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }
 #wrapper.toggled #sidebar-wrapper {
     width: 200px;
 }
 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 15px;
 }
 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -200px;
 }
 .btn-default#menu-toggle, .btn-default#menu-toggle:hover, .btn-default#menu-toggle:focus {
     border: none;
     outline: none;
     box-shadow: none;
     background: none;
     color: #DB1849;
 }
 /* Sidebar Styles */
  .sidebar-nav {
     position: absolute;
     top: 0;
     width: 200px;
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
 }
 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: black;
 }
 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #444;
     background: rgba(255, 255, 255, 0.2);
 }
 .sidebar-nav li a:active, .sidebar-nav li a:focus {
     text-decoration: none;
 }
 .sidebar-nav .sidebar-brand {
     text-align: left;
 }
 .sidebar-nav .sidebar-brand img {
     width: 75px;
 }
 .sidebar-nav ul {
     list-style: none;
     list-style-position:outside;
     padding: 0;
     margin: 0;
 }
 .sidebar-nav ul > li {
     font-size: 13px;
 }
 .sidebar-nav ul > li > a {
     color: #ddd;
     text-decoration: none;
     padding-left: 10px;
 }
 .sidebar-nav ul > li > a:hover {
     color: #fff;
     background: rgba(255, 255, 255, 0.6);
 }
 @media(min-width:768px) {
     #sidebar-wrapper {
         width: 200px;
     }
     #wrapper {
         padding-left: 200px;
     }
     #wrapper.toggled {
         padding-left: 0;
     }
     #wrapper.toggled #sidebar-wrapper {
         width: 0;
     }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }
 }

 /* Clip text element */
 .clip-text {
     font-size: 3em;
     font-weight: bold;
     line-height: 0;
     position: relative;
     display: block;
     margin: .01em;
     padding: .5em .5em;
     text-align: center;
     /* Color fallback */
     color: #fff;
     -webkit-background-clip: text;

     -webkit-text-fill-color: transparent;
 }

 .clip-text:before,
 .clip-text:after {
     position: absolute;
     content: '';
 }

 /* Background */
 .clip-text:before {
     z-index: -2;
     top: 0;
     right: 0;
     bottom: 2;
     left: 0;
     background-image: inherit;
 }

 /* Text Background (black zone) */
 .clip-text:after {
     position: absolute;
     z-index: -1;
     top: .5em;
     right: .125em;
     bottom: .5em;
     left: .125em;
     background-color: #000;
 }

 /* Change the background position to display letter when the black zone isn't here */
 .clip-text--no-textzone:before {
     background-position: -.105em 0;
 }

 .clip-text--no-textzone:after {
     content: none;
 }

 /* Use Background-size cover for photo background and no-repeat background */
 .clip-text--cover,
 .clip-text--cover:before {
     background-repeat: no-repeat;
     -webkit-background-size: cover;
             background-size: cover;
 }

.clip-text_one{
     background-image: url(peaceprocess1.jpg);
     background-size: auto;
     background-size: cover;
     background-position: bottom;
     max-width: auto;
 }

.clip-p {
   font-size: 1em;
   color: black;
   text-align: center;
 }

 .fa-bars {
   color: black;
 }
