/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html {
  font-family: 'Archivo Narrow', sans-serif;
}

html, #wrapper, #wrapper.toggled, {
  background-color: #3A4040;
}

 #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }
 #wrapper.toggled {
     padding-left: 200px;
 }
 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 200px;
     width: 0;
     height: 100%;
     margin-left: -200px;
     padding-top: 60px;
     overflow-y: auto;
     overflow-x: auto;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     background-color: #BFBFBF;
     align-content: center;
 }
 #wrapper.toggled #sidebar-wrapper {
     width: 200px;
 }


 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -200px;
 }
 .btn-default#menu-toggle, .btn-default#menu-toggle:hover, .btn-default#menu-toggle:focus {
     border: none;
     outline: none;
     box-shadow: none;
     background: none;
     color: #DB1849;
 }
 /* Sidebar Styles */
  .sidebar-nav {
     position: absolute;
     top: 0;
     width: 200px;
     margin: 0;
     padding: 0;
     list-style: none;
     font-family: 'Archivo Narrow', sans-serif;

 }
 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
  	position:relative;
}

 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: black;
 }
 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #444;
     background: rgba(255, 255, 255, 0.2);
 }
 .sidebar-nav li a:active, .sidebar-nav li a:focus {
     text-decoration: none;
 }
 .sidebar-nav .sidebar-brand {
     text-align: left;
 }

 .sidebar-nav ul {
     list-style: none;
     list-style-position:outside;
     padding: 0;
     margin: 0;
 }
 .sidebar-nav ul > li {
     font-size: 13px;
 }
 .sidebar-nav ul > li > a {
     color: black;
     text-decoration: none;
     padding-left: 10px;
 }
 .sidebar-nav ul > li > a:hover {
     color: black;
     background: rgba(255, 255, 255, 0.6);
 }

#page-content-wrapper {
    width: 100%;
    position: absolute;
}
.container{
  display: block;
  width: 100%;
}
.jumbotron-fluid {
  left: 0;
  right: 0;
  top:0;
  background-image: url('http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387861/about%20me/ladiesroom90.jpg');
  position:fixed;
  opacity: 0.9;
  display: block;
  z-index: 1;
  width:inherit;
  font-family: 'Archivo Narrow', sans-serif;

}
#page-yield{
  position: relative;
}
.luztitle {
  position: relative;
  text-align:right;
  align-content: center;
  font-size: 25px;
  color: black;
  text-shadow: 2px;
}

img.letter {
  height: 50px;
  width: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

 @media(min-width:768px) {
     #sidebar-wrapper {
         width: 200px;
     }
     #wrapper {
         padding-left: 200px;
     }
     #wrapper.toggled {
         padding-left: 0;
     }
     #wrapper.toggled #sidebar-wrapper {
         width: 0;
     }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }
 }


.menu {
   height: 22px;
   width: auto;
 }
