// Place all the styles related to the photojournal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#album {
  margin: 0 auto;
}

.box {
  margin: 1px;
  width: 400px;
}

.box img {
  max-height: 100%;
  max-width: 100%;
}
