#owl-demo .owl-item div{
  padding-left: 35px;
  padding-right: 35px;
}
#owl-demo .owl-item img{
  display: block;
  width: auto;
  height: 570px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
