#owl-demo .owl-item div{
  padding-left: 0px;
  padding-right: 0px;
}
#owl-demo .owl-item img{
  display: block;
  max-width: auto;
  max-height: 750px;
  padding-top: 75px;
  left:0;
  right:0;

}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #owl-demo .owl-item img{
      display: block;
      width: auto;
      max-height: 580px;
      padding-top: 120px;
      left:0;
      right:0;

    }

}
