<div class="container">
  <h1>About Me</h1>
  <div class="card card-inverse">
    <%= image_tag("luzelenacastro.jpg", :alt => "menu", :class =>"card-img") %>

    <img class="card-img" src="/assets/images/luzelenacastro.jpg" alt="Luz Elena Castro">
    <div class="card-img-overlay">
      <h4 class="card-title">"As A Photojournalist, I Strive To Capture Ordinary Moments That Speak in Extraordinary Ways..."</h4>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
