<div class="container">
  <div class="row">
    
    <blockquote class="quote-card">
      <p>
        "As A Photojournalist, I Strive To Capture Ordinary Moments That Speak in Extraordinary Ways..."  </p>
        <cite>
          Luz Elena Castro
        </cite>
      </blockquote>

      <div class="card card-inverse">
        <%= image_tag("luzelenacastro.jpg", :alt => "menu", :class =>"card-img") %>
        <img class="card-img" src="/assets/images/luzelenacastro.jpg" alt="Luz Elena Castro">
        <div class="card-img-overlay">
          <h4 class="card-title"></h4>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

  </div>
</div>
