<div class="container-fluid">
    <div class="panel">
      <div class="row">
      <div class="card">
        <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477387865/about%20me/Photo_By_Jock_Hamilton.jpg") %>
        <div class="card-img-overlay">
          <h4 class="card-title">Biography</h4>
          <p class="card-text">Luz Elena Castro
            Photojournalist
            After receiving a Bachelors Degree in Journalism from the Universidad Pontificia Bolivariana, Medellín, Colombia, Luz Elena Castro began her career as a staff photographer for El Mundo Newspaper in 1979. This led to a position as a photojournalism instructor for Bolivariana University in 1985, and freelance assignments for many different magazines and newspapers. In 1986 she won a scholarship from Navarra University in Spain, and worked as a photojournalist for the EFE News Agency in Madrid. She provided a weekly commentary for the BBC while in London, and in 1988, she was department director for El Tiempo Newspaper in Bogotá.
            <br>
            She was the personal photographer for César Gaviria during his 1989-90 presidential campaign, and through 1994 was director of the photography department for the Gaviria Presidency. Following a year as graphic editor of Cromos Magazine, she resumed her work as a freelance photojournalist.

            Throughout her career she has shown her photos in the most prestigious Galleries and Museums in Colombia. In 1994 she represented Colombia in the Fifth Biennial of Art in Havana, Cuba, was chosen to participate in an exhibition at the Ludwing Forum Museum, Aachen, Germany, and served as a judge in several Salons of Photography in Colombia.
            Living and working in California since 1996, she began to document homeless Sonoma County seniors in January of 2002. Her exhibit poignantly captured the new face of homelessness in an economically rich area, and opened at the Cultural Arts Council’s Gallery in Santa Rosa, CA.

            In her “Lejos del Hogar” project, she gave cameras to members of West Marin’s Latino community, and taught them how to take photos, which were then used in weekly English lessons. An exhibition of Luz Elena’s documentary work opened in 2004 at Gallery Route One in Point Reyes, CA. Serving as a bridge between the Latino and American Communities; she developed a series of projects that empower the students to be part of the town through photography and literacy. Every year until now Gallery Route One exhibit those projects.

            In March 2008 as part of the Fotofest Biennial of Photography, the Station Museum of Contemporary Art shows her Installation “Faces of Colombia”,  a group of 8 Photos-Curtains making a circle that symbolized the circle of violence that Colombia has lived during the last 50 years. The project also had a bilingual voice over  running during the exhibition. “Apertura Colombia” was a powerful show from Colombian Artists depicting the situation of their country.

            A Retrospective of her 25 years as a photojournalist was opened in 2006 at the Museo del Oro Quimbaya, in Armenia, Colombia, and is part of the private collection of the Banco de la República, organization that sponsored it.

            “As a photojournalist, I strive to capture ordinary moments that speak in extraordinary ways…”



          </p>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-xs-12">
      <div class="card">
        <a href="/women" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Luz Elena Castro</h4>
            <h6 class="card-subtitle text-muted">lucasphoto@gmail.com</h6>
            <h6 class="card-subtitle text-muted">(415) 747-0043</h6>

          </div>
          <div class="card-block">
            <p class="text">Click Here To View Resume!</p>
          </div>
        </a>
      </div>
  </div>
  <div class="col-xs-12">
      <div class="card">
        <a href="/women" class="list-group-item">
          <div class="card-block">
            <h4 class="card-title">Voice Over Work and Podcasts</h4>
          </div>
          <div class="card-block">
            <p class="text">Click Here To View Resume!</p>
          </div>
        </a>
      </div>
  </div>

</div>


</div>
</div>
