<div id="album" class="transitions-enabled">
  <div class="box panel">
    <div class="card">
      <a href="/women" class="list-group-item">
      <div class="card-block">
        <h2 class="card-title">Interviews & Features</h2>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </a>
    </div>
  </div>
  <div class="box panel">
    <div class="card">
      <a href="/women" class="list-group-item">
      <div class="card-block">
        <h4 class="card-title">SF Camerawork</h4>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <%= image_tag("https://static1.squarespace.com/static/520d370ae4b01247d7147364/t/580fb967be6594a6e2a362cb/1477425561780/?format=500w", :class => "thumbnail") %>
      <div class="card-block">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
  </div>
  <div class="box panel">
    <div class="card">
      <a href="/women" class="list-group-item">
      <div class="card-block">
        <h4 class="card-title">Lations Behind The Lens</h4>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/v1477369616/e%20-%20latino%20photo%20proj/mariachi1_final.jpg", :class => "thumbnail") %>
      <div class="card-block">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
  </div>
  <div class="box panel panel-default">
    <div class="card">
      <a href="https://ramonbnuezjr.wordpress.com/2013/10/30/luz-elena-castro-discusses-the-art-of-photojournalism/" class="list-group-item">
      <div class="card-block">
        <h4 class="card-title">Ramon Nuez</h4>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <%= image_tag("http://res.cloudinary.com/dkfv3dxyb/image/upload/c_scale,h_770,w_auto/v1477369613/e%20-%20latino%20photo%20proj/couple3_finalRGB.jpg", :class => "thumbnail") %>
      <div class="card-block">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
  </div>

</div>
