<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <div class="clip-text clip-text_one">LUZ ELENA CASTRO</div>
    <div class ="clip-text clip-p">
      PHOTOJOURNALIST
    </div>
  </div>
</div>
<div id="owl-demo" class="owl-carousel">
  <div><%= image_tag("desalojos.jpg", :alt => "desalojos") %></div>
  <div><%= image_tag("emergencyexit.jpg", :alt => "desalojos") %></div>
  <div><%= image_tag("plazadebolivar.jpg", :alt => "bolivar") %></div>
  <div><%= image_tag("medllin-goal.tif", :alt => "goal") %></div>
  <div><img src="http://placehold.it/1170x500/42bdc2/FFFFFF"></div>
  <div><img src="http://placehold.it/1170x250/42bdc2/FFFFFF"></div>
  <div><img src="http://placehold.it/1170x350/42bdc2/FFFFFF"></div>
  <div><img src="http://placehold.it/1170x300/42bdc2/FFFFFF"></div>
  <div><img src="http://placehold.it/1170x100/42bdc2/FFFFFF"></div>
  <div><img src="http://placehold.it/1170x500/42bdc2/FFFFFF"></div>
</div>
